@charset "UTF-8";


/* corpo */

body{
	background-color: lightblue;
	font-size: 18pt;
	width: 1200px;
	margin: 0 auto;
}
hr{
	display: block;
	width: 99%;
}


/* Header */

#cabeca{
	width: 1200px;
	height: 200px;
	display: inline-block;
	padding: 0px 0px;
	margin: 0px;
}


/* Menu */

#menu a{
	text-decoration: none;
	color: black;
	padding: 9px 34px;
}
#menu a:hover{
	text-decoration: underline;
}	
#menu li{
	list-style-type: none;
	list-style-position: inside;
	display: inline-block;
	padding: 2px;
	margin: 0 0 0 100px;
}
#menu li:hover{
	background-color: rgb(101, 199, 197);
}
#menu ul{
	margin: 0px 0 10px 0;
	border-bottom: black solid 1px;
	border-top: black solid 1px;	
}
#menu{
	text-align: left;
	display: block;
	background-color: CornflowerBlue /*rgb(143, 199, 197)*/;
}
#inicio li a[href="index.html"],
#fotos li a[href="fotos-home.html"],
#atividades li a[href="atividades-home.html"],
#contatos li a[href="contatos-home.html"]{
	text-decoration: underline;
}


/* Main */

#artigo, #tabela{
	display: block;
	position: relative;
	width: 1000px;
	float: left;
	left: 100px;
	margin: 0px;
}
#artigo h1{
	text-align: center;
	font-size: 2.5em;
	font-family: calibri;
	
}
#artigo h2{
	text-align: center;
	font-size: 1.9em;
	font-family: calibri;
}
#artigo h3{
	text-align: center;
	font-size: 1.3em;
	font-family: calibri;
}
#artigo h4{
	text-align: center;
	font-size: 1.1em;
	font-family: calibri;
}
#artigo p{
	text-align: justify;
	padding: 10px;
	font-family: calibri;
	font-size: .95em;
	margin-bottom: 0;
	text-indent: 1.5em;
}
#artigo p + p{
	text-indent: 1.5em;
	margin-top: 0;
}
#artigo a{
	text-decoration: none;
	color: darkred;
	font-size: 1em;
}
#artigo a:hover{
	text-decoration: underline;
}
#artigo td a{
	text-decoration: none;
	color: darkred;
	font-size: 1em;
}
#artigo td a:hover{
	text-decoration: underline;
}
#artigo li{
	text-align: justify;
	padding: 10px;
	font-family: calibri;
	font-size: .95em;
	margin-bottom: 0;
	text-indent: 1.5em;
}

/* Tabelas */

#tabela{
	text-align: center;
	font-size: .8em;
}
#tabela table{
	margin: auto;
}



/* Footer */

#rodape{
	clear: both;
	position: relative;
	border-bottom: black solid 1px;
	border-top: black solid 1px;
	text-align: center;
	background-color: rgb(143, 199, 197);
}
#rodape h3{
	margin: 0;
}
#casa{
	margin: 5px 0 0;
}


/* Imagens */

#menumundo a img{
	width: 180px;
    height: 180px;
}
#menumundo{
	margin: 10px 35px 20px 55px;
	display: inline-block;
	float: left;
	padding: 0 10px;
}
#menumundo figcaption{
	background-color: rgba(0,0,0,.4);
	color: white;
	font-size: 18pt;
	text-align: center;
	opacity: 1;
	transition: opacity 0,5s;
}
#menumundo:hover figcaption{
	background-color: rgba(99,0,0,.6);
	color: black;
}