@model WebSales.Models.ViewModels.PlayerFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>New Player</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Player.Name" classe="control-label"></label>
                <input asp-for="Player.Name" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Player.Age" classe="control-label"></label>
                <input asp-for="Player.Age" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Player.Ranking" classe="control-label"></label>
                <input asp-for="Player.Ranking" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Player.TournamentId" class="control-label"></label>
                <select asp-for="Player.TournamentId" asp-items="@(new SelectList(Model.Tournaments, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class=" btn btn-default" />
            </div>
        </form>
    </div>
</div>
